<div class="container">
    <h1>Javascript News from the World</h1>
    <section id="articles">
        <ul>
            {{#each articles}}
                <li id="article{{_id}}">
                    <h3>
                        <a href="{{link}}" target="_blank" rel="noopener">{{headline}}</a>
                    </h3>
                    <a href="{{link}}" target="_blank" rel="noopener">
                        <img src="{{imgUrl}}">
                    </a>
                    <p>{{_id}}</p>
                    <p>{{summary}}</p>
                    <button class="btn comment-btn" data-id="{{_id}}">View / Write Comment</button>
                </li>
            {{/each}}
        </ul>
    </section>
</div>